av
dollarpy
dtaidistance
fastdtw
Flask
imutils
matplotlib
moviepy
mysql_connector_repackaged
numpy
opencv_python
opencv-python-headless
opencv-contrib-python
pandas
Pillow
pydub
pyrebase
scipy
streamlit
streamlit_embedcode
streamlit_webrtc
typing_extensions
